<h1> Dog </h1><br>
<h3>Name: <%= @dog.name %></h3><br>
<h3>Breed: <%= @dog.breed %></h3><br>
<h3>Age: <%= @dog.age %></h3><br>

<h2><% @dog.employees.each do |o|%>
<h2><%= link_to o.first_name, employee_path(o) %>
<% end %>